
    <div class="container" style="margin-top:10px; text-align:left; font-family:Jeju Gothic, sans-serif;">
        <div class="jumbotron col-md-12" style="background-color:white; margin-top:20px">
              
        <!-- 연예인의 경우 연예인 이름 출력 -->
        <!-- 날짜일 경우 날짜 출력 -->
              
        <div class="container col-md-6">
                
            <div class="search_bar" style="margin-top:10px" >
                <div id="custom-search-input">
                    <div class="input-group">
                        <input type="text" class="search-query form-control" style="font-family:Nanum Gothic, sans-serif;" placeholder="'아이오아이', '러블리즈'를 검색하세요" />
                            <span class="input-group-btn">
                                <button class="btn btn-danger" type="button">
                                    <span class=" glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                    </div>
                </div>
            </div>
                        
            <div class="container">
                <div class="row" style="margin-top:10px">
                    <div class="panel panel-default">
                    <div class="panel-heading">
                <h4> 연예인별 검색 </h4>
                    </div>
                 
                <table class="table table-fixed" style="font-size:20px">
                     <tbody>
                        <tr> <td class="col-xs-12"> <a href="/artist#걸스데이/">걸스데이</a> </td> </tr>
                        <tr> <td class="col-xs-12"> 걸스데이</a> </td> </tr>
                        <tr> <td class="col-xs-12"> 걸스데이 </td> </tr>
                        <tr> <td class="col-xs-12"> 걸스데이 </td> </tr>
                        <tr> <td class="col-xs-12"> 걸스데이 </td> </tr>
                        <tr> <td class="col-xs-12"> 걸스데이 </td> </tr>
                        <tr> <td class="col-xs-12"> 걸스데이 </td> </tr>
                        <tr> <td class="col-xs-12"> 걸스데이 </td> </tr>
                        <tr> <td class="col-xs-12"> 걸스데이 </td> </tr>
                        <tr> <td class="col-xs-12"> 걸스데이 </td> </tr>
                    </tbody>
                </table>
                    </div>
                    </div>
            </div>
        </div>       
              
        <!-- list -->
              
        <div class="container col-md-6">
                <table class="table table-fixed_Right" style="font-size:20px">
                     <tbody>
                        <tr> <td class="col-xs-12"> 05.15 연세대 </td> </tr>
                        <tr> <td class="col-xs-12"> 05.16 세종대 </td> </tr>
                        <tr> <td class="col-xs-12"> 05.17 건국대 </td> </tr>
                        <tr> <td class="col-xs-12"> 걸스데이 </td> </tr>
                        <tr> <td class="col-xs-12"> 걸스데이 </td> </tr>
                        <tr> <td class="col-xs-12"> 걸스데이 </td> </tr>
                        <tr> <td class="col-xs-12"> 걸스데이 </td> </tr>
                        <tr> <td class="col-xs-12"> 걸스데이 </td> </tr>
                        <tr> <td class="col-xs-12"> 걸스데이 </td> </tr>
                        <tr> <td class="col-xs-12"> 걸스데이 </td> </tr>
                        <tr> <td class="col-xs-12"> 걸스데이 </td> </tr>
                        <tr> <td class="col-xs-12"> 걸스데이 </td> </tr>
                    </tbody>
                </table>
        </div>
    </div>  
        
    </div>
    
    