
    <div class="container" style="margin-top:10px; text-align:left; font-family:Jeju Gothic, sans-serif;">
        
        <div class="jumbotron col-md-12" style="background-color:white; margin-top:20px">
              
        <!-- Date-picker 1-->
        <div class="container col-md-3">
            
        </div>
        
        <!-- Date-picker 2-->
        <div class="container col-md-3">
                
        </div>  
              
        <!-- list -->
              
        <div class="container col-md-6">
                <table class="table table-fixed_Right" style="font-size:20px">
                     <tbody>
                        <tr> <td class="col-xs-12"> 05.15 연세대 </td> </tr>
                        <tr> <td class="col-xs-12"> 05.16 세종대 </td> </tr>
                        <tr> <td class="col-xs-12"> 05.17 건국대 </td> </tr>
                        <tr> <td class="col-xs-12"> 걸스데이 </td> </tr>
                        <tr> <td class="col-xs-12"> 걸스데이 </td> </tr>
                        <tr> <td class="col-xs-12"> 걸스데이 </td> </tr>
                        <tr> <td class="col-xs-12"> 걸스데이 </td> </tr>
                        <tr> <td class="col-xs-12"> 걸스데이 </td> </tr>
                        <tr> <td class="col-xs-12"> 걸스데이 </td> </tr>
                        <tr> <td class="col-xs-12"> 걸스데이 </td> </tr>
                        <tr> <td class="col-xs-12"> 걸스데이 </td> </tr>
                        <tr> <td class="col-xs-12"> 걸스데이 </td> </tr>
                    </tbody>
                </table>
        </div>
                    
          <div class="container col-md-12">
    	    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- 축제 지도 광고 -->
                    <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-client="ca-pub-5383756994777936"
                    data-ad-slot="6481654409"
                    data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
    </div>  
        
    </div>
    
    