
    <div class="container" style="font-family:Jeju Gothic, sans-serif;">
        <div class="container" style="margin-top:10px; text-align:left" style="font-family:Jeju Gothic, sans-serif;">
                  
                <a href="/feeling_lucky"><button type="button" class="btn btn-primary">서울 동부</button></a>
                <a href="/west"><button type="button" class="btn btn-warning">서울 북부</button></a>
                <a href="/north"><button type="button" class="btn btn-danger">서울 남부</button></a>
                <a href="/gyunggi"><button type="button" class="btn btn-info">경기</button></a>
               
            <div class="jumbotron col-md-12" style="background-color:white; margin-top:20px">
              
                <div class="name col-md-6" style="margin-top:10px" >
                    <h1 style="color:black; font-size:54px" align="left" >서울 동부</h1> 
                     <h1 style="color:rgba(0,0,0,0.4); font-size:16px" align="left" >건국대,고려대,세종대,한양대</h1> 
                </div>
              
                <div class="container col-md-6">
                    <table class="table table-fixed_Right2" style="text-align:right; font-size:24px; color:black;">
                        <tbody>
                            <tr> <td class="col-xs-12"> 05.15 연세대 </td> </tr>
                            <tr> <td class="col-xs-12"> 05.16 세종대 </td> </tr>
                            <tr> <td class="col-xs-12"> 05.17 건국대 </td> </tr>
                            <tr> <td class="col-xs-12"> 걸스데이 </td> </tr>
                            <tr> <td class="col-xs-12"> 걸스데이 </td> </tr>
                            <tr> <td class="col-xs-12"> 걸스데이 </td> </tr>
                            <tr> <td class="col-xs-12"> 걸스데이 </td> </tr>
                            <tr> <td class="col-xs-12"> 걸스데이 </td> </tr>
                            <tr> <td class="col-xs-12"> 걸스데이 </td> </tr>
                            <tr> <td class="col-xs-12"> 걸스데이 </td> </tr>
                            <tr> <td class="col-xs-12"> 걸스데이 </td> </tr>
                            <tr> <td class="col-xs-12"> 걸스데이 </td> </tr>
                        </tbody>
                    </table>
                </div>  
            </div>
            
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                  <!-- 축제 지도 광고 -->
                <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-client="ca-pub-5383756994777936"
                    data-ad-slot="6481654409"
                   data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
        
        </div>
    	
    	