
  <!-- Search Snippet :: 알아서 POST하세요 --> 
    <header>
        <div class="container";>
            <div class="intro-text">
                
                <div class="container">
                	<div class="row">
                		<h2 style="font-family:Jeju Gothic, sans-serif;">축제 검색</h2>
                            <div id="custom-search-input">
                                <div class="input-group col-md-12">
                                    <input type="text" class="search-query form-control" style="font-family:Nanum Gothic, sans-serif;" placeholder="'아이오아이', '한양대'를 검색하세요" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-danger" type="button">
                                                <span class=" glyphicon glyphicon-search"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                	</div>
                	
                	<div class="container" style="margin-top:10px; text-align:left" style="font-family:Jeju Gothic, sans-serif;">
                    	<button type="button" class="btn btn-primary">대학 검색</button>
                        <button type="button" class="btn btn-warning">연예인 검색</button>
                        <button type="button" class="btn btn-danger">날짜 검색</button>
                        <a href="/feeling_lucky"><button type="button" class="btn btn-info" style="font-family:Open Sans">Feeling Lucky!</button></a>
                    </div>
                
                </div>
                
            </div>
            
        </div>
    </header>
    
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- 축제 지도 광고 -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-5383756994777936"
               data-ad-slot="6481654409"
               data-ad-format="auto"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>