
                        <div class="table-responsive scrollable" style="font-size:24px; height:500px; margin-top:12px">
                            <table class="table table-hover table-condensed table-scrollable">
                                <tbody>
                                    <tr><td><a href="/univ">레드벨벳</a></td></tr>
                                    <tr><td><a href="/univ">걸스데이</a></td></tr>
                                    <tr><td><a href="/univ">러블리즈</a></td></tr>
                                    <tr><td><a href="/univ">에이핑크</a></td></tr>
                                    <tr><td><a href="/univ">오마이걸</a></td></tr>
                                    <tr><td><a href="/univ">아이오아이</a></td></tr>
                                    <tr><td><a href="/univ">레드벨벳</a></td></tr>
                                    <tr><td><a href="/univ">레드벨벳</a></td></tr>
                                    <tr><td><a href="/univ">걸스데이</a></td></tr>
                                    <tr><td><a href="/univ">러블리즈</a></td></tr>
                                    <tr><td><a href="/univ">에이핑크</a></td></tr>
                                    <tr><td><a href="/univ">오마이걸</a></td></tr>
                                    <tr><td><a href="/univ">아이오아이</a></td></tr>
                                    <tr><td><a href="/univ">레드벨벳</a></td></tr>
                                    <tr><td><a href="/univ">레드벨벳</a></td></tr>
                                    <tr><td><a href="/univ">걸스데이</a></td></tr>
                                    <tr><td><a href="/univ">러블리즈</a></td></tr>
                                    <tr><td><a href="/univ">에이핑크</a></td></tr>
                                    <tr><td><a href="/univ">오마이걸</a></td></tr>
                                    <tr><td><a href="/univ">아이오아이</a></td></tr>
                                    <tr><td><a href="/univ">레드벨벳</a></td></tr>
                                    <tr><td><a href="/univ">레드벨벳</a></td></tr>
                                    <tr><td><a href="/univ">걸스데이</a></td></tr>
                                    <tr><td><a href="/univ">러블리즈</a></td></tr>
                                    <tr><td><a href="/univ">에이핑크</a></td></tr>
                                    <tr><td><a href="/univ">오마이걸</a></td></tr>
                                    <tr><td><a href="/univ">아이오아이</a></td></tr>
                                    <tr><td><a href="/univ">레드벨벳</a></td></tr>
                                </tbody>
                            </table>
                            
    .table-responsive
    {
        overflow-y: scroll; /* has to be scroll, not auto */
        -webkit-overflow-scrolling: touch;
    }                        
    
    
    <!-- Navigation -->
  <nav class="navbar navbar-god" style="font-family:Jeju Gothic, sans-serif;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" style="font-size:20px">축제 지도</a>
        </div>

        <div class="navbar-right" style="font-size:16px; text-align:center">
          <a class="navbar-brand" href="/contact">연락처</a>
          <a class="navbar-brand" href="/contact">연락처</a>
          <a class="navbar-brand" href="/contact">연락처</a>
          <a class="navbar-brand" href="/contact">연락처</a>
        </div>
      </div>
    </nav>