<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
  <!-- Mobile + Unscalable -->
  <meta name="viewport" content="width=device-width, initial-scale=1" maximum-scale=1, user-scalable="no">
  <meta name="author" content="Like_Lion_Hanyang_Univ">

  <!-- Custom Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  
  <!-- Bootstrap CDN -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <!-- Jquery -->
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <!-- GoogleAnalytics-->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61006192-3', 'auto');
  ga('send', 'pageview');

  </script>


</head>

<body>
  <div id="backgroundimg"></div>
    <!-- Navigation -->
  <nav class="navbar navbar-god" style="font-family:Jeju Gothic, sans-serif;">
      <div class="container">
        <div class="navbar-header" style="width:100%">
          <a class="navbar-brand" href="/" style="font-size:20px">대학 축제</a>

          <a class="navbar-brand" href="/upcoming" class="header_right" style="float:right">내일</a>
          <a class="navbar-brand" href="/started" class="header_right" style="float:right">오늘</a>
          <div class="header_right navbar-brand hidden-xs"  style="float:right">축제 정보:</div>
        </div>

      </div>
    </nav>
    

<%= yield %>

  <!-- 축제 애드센스 -->
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  
  <ins class="adsbygoogle react_ads"
       style="display:block"
       data-ad-client="ca-pub-8940250589611930"
       data-ad-slot="4467558001"
       data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  
  <style>
  
   .react_ads { width: 320px; height: 100px; margin: 0 auto; }
   @media(min-width: 500px) { .react_ads { width: 468px; height: 60px; margin: 0 auto; } }
   @media(min-width: 738px) { .react_ads { width: 728px; height: 90px; margin: 0 auto; } }
   
  </style>

  <footer id="mobile-footer">
    <div id="mobile-menu">
      <div id="mobile-footer-container">
        <div class="mobile-link">
          <img src="/assets/likelion_logo.png" width="30px;"><span style="color: #fff">x</span><img width="30px;" src="/assets/한양대.jpg" style="vertical-align:middle" class="logo_shape_round">
        </div>
        <div class="mobile-link">
          <a href="/result" class="text-center" style='font-family:Nanum Gothic; font-size:14px'>모든 축제 보기</a>
        </div>
        <div class="mobile-link">
          <a href="/contact" class="text-center" style='font-family:Nanum Gothic; font-size:14px'>만든이들</a>
        </div>
      </div>
    </div>
    <div id="mobile-footer-close">
      
      <!-- 
      <button id="mobile-footer-btn">
        <div class="mobile-btn-close">
          <span></span>
        </div>
      </button>
      -->
      
    </div>
  </footer>
  <div style="height:100px;"></div>
  <!--
  <script>(function($) {
    // Store menu container
    var mobileMenu = '#mobile-menu';
    // Store Trigger
    
    var mobileBtn = '#mobile-footer-btn';

    var rotation = '.mobile-btn-close';
    
    $(mobileBtn).on("click", function(e) {
      e.stopPropagation();
      if ($(mobileMenu).hasClass('mobile-menu-hide') || $(rotation).hasClass('is-rotating')) {
        $(mobileMenu).removeClass("mobile-menu-hide").addClass("mobile-menu-show");
        $(rotation).removeClass("is-rotating").addClass("is-rotating-back");
      } else {
        $(mobileMenu).removeClass("mobile-menu-show").addClass("mobile-menu-hide");
        $(rotation).removeClass('is-rotating-back').addClass('is-rotating');
      }
    });
  });
})(jQuery);
  </script>
  -->
</body>
</html>
